{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
   of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
   for a {{ site_name }} account and sign in below:{% endblocktrans %}
</p>
<div class="socialaccount_ballot">
   <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
   </ul>
   <div class="login-or">{% trans 'or' %}</div>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
<div class="modal fade show" id="signin-modal" tabindex="-1" role="dialog" aria-modal="true" style="display: block; padding-left: 0px;">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header bg-secondary" style="background-color: #f6f9fc !important;">
   <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item"><a class="nav-link fw-medium active" style="color:#fe696a;background-color: transparent; border-color: transparent" href="{{signin_url }}" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="fas fa-lock"></i>&nbsp; Sign in</a></li>
      <li class="nav-item"><a class="nav-link fw-medium" href="{{ signup_url }}"style="color: grey;" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="fas fa-user"></i>&nbsp; Sign up</a></li>
   </ul>
   <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body tab-content py-4">
<form class="needs-validation tab-pane fade active show login" autocomplete="off" novalidate="" method="POST" action="{% url 'account_login' %}">
 {% csrf_token %}
  {% if form.errors %} 
  {% for error in form.non_field_errors %}
      <div class="alert alert-error">
          {{ error|escape }}
      </div>
  {% endfor %}
  {% endif %}
   <div class="mb-3">
      <label for="id_login si-email">E-mail:</label>
      <input class="form-control" type="email" name="login" placeholder="johndoe@example.com"  autocomplete="email" required="" id="id_login si-email">
       {{ form.login.errors }}
   </div>
   <div class="mb-3">
      <label class="form-label" for="id_password si-password">Password:</label> 
      <div class="password-toggle">
         <input class="form-control"  type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password si-password">
         <!-- <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"> 
            <span class="password-toggle-indicator"></span>
            </label>
            did not work skip-->
      </div>
       {{ form.password.errors }}
   </div>
   <div class="mb-3 d-flex flex-wrap justify-content-between">
      <div class="form-check mb-2">
         <input class="form-check-input" type="checkbox" id="id-remember si-remember">
         <label class="form-check-label" for="id_remember si-remember">Remember Me</label>
      </div>
      <a  class=" button secondaryAction fs-sm" style="color: #fe696a" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
   </div>
   <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
   <button class=" primaryAction btn btn-primary btn-shadow d-block w-100" style="box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(254 105 106 / 90%); background-color: #fe696a;
      border-color: #fe696a;" type="submit" >{% trans "Sign In" %}</button>
</form>
{% endblock %}