account==0.1.0
alembic==1.7.5
amqp==2.6.1
anyio==3.4.0
asgiref==3.3.4
attrs==21.2.0
autopep8==1.5.7
bcrypt==3.2.0
billiard==3.6.4.0
cached-property==1.5.2
cachetools==4.2.4
celery==4.4.7
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.6
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==36.0.0
cssselect==1.1.0
cssutils==2.3.0
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2
django-admin-honeypot==1.1.0
django-allauth==0.47.0
django-appconf==1.0.5
django-ckeditor==6.0.0
django-compressor==2.4.1
django-crispy-forms==1.13.0
django-djconfig==0.10.0
django-environ==0.7.0
django-extensions==3.1.3
django-filter==21.1
django-grappelli==2.15.3
django-haystack==3.0
django-heroku==0.3.1
django-infinite-scroll-pagination==1.1.0
django-jet-reboot==1.1.1
django-js-asset==1.2.2
django-meta==2.0.0
django-modeltranslation==0.17.3
django-mptt==0.11.0
django-newsletter==0.9.1
django-on-heroku==1.1.2
django-paypal==1.1.1
django-pwa==1.0.10
django-recaptcha==2.0.6
django-spirit==0.12.2
django-storages==1.12
django-taggit==1.5.1
djangorestframework==3.12.4
dnspython==2.1.0
docopt==0.6.2
docx==0.2.4
dropbox==11.21.0
ecdsa==0.17.0
email-validator==1.1.3
emails==0.5.15
fastapi==0.70.0
feedparser==6.0.8
greenlet==1.1.2
gunicorn==20.1.0
h11==0.9.0
httptools==0.1.2
idna==2.10
importlib-metadata==4.8.2
importlib-resources==5.4.0
inflect==5.3.0
Jinja2==2.11.3
kombu==4.6.11
ldif3==3.1.1
lxml==4.6.3
Mako==1.1.6
MarkupSafe==2.0.1
mistune==0.8.4
more-itertools==8.12.0
mysqlclient==2.0.3
oauthlib==3.1.1
olefile==0.46
packaging==21.3
passlib==1.7.4
Pillow==7.2.0
pipreqs==0.4.11
pluggy==0.13.1
ply==3.11
premailer==3.10.0
prompt-toolkit==3.0.23
psycopg2==2.9.1
psycopg2-binary==2.9.1
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.21
pydantic==1.8.2
Pygments==2.10.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.6
pytest==5.4.3
python-card-me==0.9.3
python-dateutil==2.8.2
python-decouple==3.5
python-docx==0.8.10
python-dotenv==0.19.1
python-jose==3.3.0
python-multipart==0.0.5
python3-openid==3.2.0
pytz==2017.3
raven==6.10.0
rcssmin==1.0.6
reportlab==3.5.67
requests==2.25.1
requests-oauthlib==1.3.0
rjsmin==1.1.0
rsa==4.8
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
sorl-thumbnail==12.7.0
SQLAlchemy==1.4.27
sqlparse==0.3.1
starlette==0.16.0
stone==3.2.1
surlex==0.2.0
tenacity==6.3.1
toml==0.10.2
typing-extensions==3.10.0.0
unicodecsv==0.14.1
Unipath==1.1
urllib3==1.26.5
uvicorn==0.11.8
uvloop==0.16.0
vine==1.3.0
wcwidth==0.2.5
websockets==8.1
whitenoise==5.2.0
Whoosh==2.7.4
yarg==0.1.9
zipp==3.6.0
