{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'products/static/css/custom.css'%}">


<div>

              <form role="form" method="post" action="">
              
                {% csrf_token %} 

             
                <div class="card-header">
                  <h5 class="title">Register</h5>

                  <h6 class="card-category">
                      {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                      {% else %}
                        Add your credentials
                      {% endif %}  
                  </h6>
                </div>

              {% if success %}

                <p>
                  Please <a href={% url 'login' %}>authenticate</a> using the new account.
                </p>  

              {% else %}

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Username</label>
                          {{ form.username }}
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.username.errors }}</span>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Email</label>
                          {{ form.email }}
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.email.errors }}</span>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Password</label>
                          {{ form.password1 }}
                          <br/>

                          <div class="help" style="font-size: 11px";><ul><li>* Your password can’t be too similar to your other personal information.</li><li>* Your password must contain at least 8 characters.</li><li>* Your password can’t be a commonly used password.</li><li>* Your password can’t be entirely numeric.</li></ul></div>
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.password1.errors }}</span>
                    

                </div>
                <div class="card-footer">
                  <button type="submit" name="register" class="btn btn-fill btn-primary">Register</button>
                  &nbsp; &nbsp;
                  Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
                </div>

              {% endif %} 

              </form>

</div>


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}