{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<!--  {% for product in products %}
   {{ product.name }}<br/>
   {{ product.category }}</br>
   {{ product.description|truncatewords:5 }}</br>
   {{ product.size }}</br>
   {{ product.portion }}</br>
    <img src="{{product.image.url}}" alt ="image"/><br/>
    {% endfor %} -->
<section class="container tab-content py-4 py-sm-5">
   <h2 class="text-center pt-2 pt-sm-0 mb-sm-5">Pizza</h2>
   <div class="row pt-3 pt-sm-0">
      {% for product in products %}
      <!-- Item-->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter" style="margin-bottom:15px">
         <div class="card product-card border pb-2">
            <a class="d-block" href="#quick-view" data-bs-toggle="modal"><img class="card-img-top" src="{{product.image.url}}" alt="Pizza"></a>
            <div class="card-body pt-1 pb-2">
               <h3 class="product-title fs-md"><a style="color:black;font-size: 0.9375rem !important";href="#quick-view" data-bs-toggle="modal"> {{ product.name }}</a></h3>
               <p class="fs-ms text-muted" style="font-size: 0.9375rem !important">{{ product.description }}</p>
               <div class="d-flex mb-1">
                  <div class="form-check form-option form-check-justified mb-2">
                     <input class="form-check-input" type="radio" name="size1" id="s1" checked>
                     <label class="form-option-label" style="font-size: 0.9375rem !important" for="s1">Small</label>
                  </div>
                  <div class="form-check form-option form-check-justified mb-2">
                     <input class="form-check-input" type="radio" name="size1" id="m1">
                     <label class="form-option-label" style="font-size: 0.9375rem !important" for="m1">Medium</label>
                  </div>
                  <div class="form-check form-option form-check-justified mb-2">
                     <input class="form-check-input" type="radio" name="size1" id="l1">
                     <label class="form-option-label" style="font-size: 0.9375rem !important" for="l1">Large</label>
                  </div>
               </div>
               <div class="d-flex mb-3">
                  <div class="form-check form-option form-check-justified mb-2">
                     <input class="form-check-input" type="radio" name="base1" id="thin1" chekced>
                     <label class="form-option-label"  style="font-size: 0.9375rem !important" for="thin1">Thin</label>
                  </div>
                  <div class="form-check form-option form-check-justified mb-2">
                     <input class="form-check-input" type="radio" name="base1" id="standard1" checked="">
                     <label class="form-option-label" style="font-size: 0.9375rem !important" for="standard1">Standard</label>
                  </div>
                  
               </div>
               <div class="d-flex align-items-center justify-content-between">
                   <div class="product-price"><span class="text-accent">{{product.product_attrs.first.price}}</span></div>
               
                <button class="btn btn-danger btn-sm" type="submit"  onclick="location.href = '{{product.get_absolute_url}}'">+<i class="ci-cart fs-base ms-1"></i></button>
               </div>

            </div>
         </div>
      </div>
      {% endfor %}
      <!-- Load more button-->
      <nav class="d-md-flex justify-content-between align-items-center text-center text-md-start pt-2 pb-4 mb-md-2" aria-label="Page navigation">
         <div class="d-md-flex align-items-center w-100">
            <span class="fs-sm text-muted me-md-3">Showing 8 of 24 items</span>
            <div class="progress w-100 my-3 mx-auto mx-md-0" style="max-width: 10rem; height: 4px;">
               <div class="progress-bar bg-dark" role="progressbar" style="width: 18%;" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <button class="btn btn-outline-secondary" type="button">Load more items</button>
      </nav>
</section>
</div>
{% endblock %}