
{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'products/static/css/custom.css'%}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="{% static 'products/static/js/main.js'%}" defer></script>
   </head>
  <body>

{% load crispy_forms_tags %}   

<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Register</h3>
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form|crispy}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Register" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
</main>

</body>
</html>